<td>
  {{this.name}}
</td>
<td>
	{{this.userName}}
</td>
<td>
	{{this.suspendName}}
</td>
<td>
	{{this.schedulingName}}
</td>
<td>
  <span class='badge'>{{this.farms.length}}</span>
</td>
<td>
    <button type='button' class='btn btn-danger btn-xs l-right'>Delete</button>
</td>
