<div class="yalla-form">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" value="{{name}}">
  </div>
  <div class="form-group">
    <label>Provider</label>
    <input type="text" class="form-control" name="provider" value="{{provider}}">
    <p class="help-block">To add more providers, check out Load Balancer providers under Settings.</p>
  </div>
  <div class="form-group">
    <label>User</label>
    <input type="text" class="form-control" name="username" value="{{username}}">
    <p class="help-block">This is the user to interact with the load balancer.</p>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" value="{{password}}">
  </div>
  <div class="form-group">
    <label>Suspend Strategy</label>
    <input type="text" class="form-control" name="suspendStrategy" value="{{suspendStrategy}}">
  </div>
  <div class="form-group">
    <label>Load Strategy</label>
    <input type="text" class="form-control" name="loadStrategy" value="{{loadStrategy}}">
  </div>
</div>